AllyMailer#notification_email

<%= @greeting %>, find me in app/views/app/views/ally_mailer/notification_email.text.erb



<!-- 
Beth's Attempt to get the email to work. This is an example using a user database


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Blah Blah, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html> -->