%body.about
%h1 About
%div.jumbotron
	%div{:style => "width: 75%; margin: 0 auto;"}
		%p{:style => "text-align: justify"} Puget Sound Peer Allies is a mostly confidential* group of students who have come together to provide a support system for those in need with peer-to-peer conversation.  Our primary aim is to create a safe space for students who have experienced sexual assault to talk, be heard, and be believed.
		%p{:style => "text-align: justify"} We are here for any students who have experiened sexual assault, whether or not it happened to you or a friend, whether on or off campus, past or present.  We are here to walk down that path with you.
		%p{:style => "text-align: justify"} Please note that we are students, we are not professional counselors.  We are here to provide a peer-to-peer support system to allow conversation without formality or retribution.  If, however, you would like to pursue professional services or speak to a university representative, please visit the Crisis Information page.  If you would like an ally to accompany you during any of these interactions, please contact us.  We would be happy to support you.
		%br
		%br
		%p{:style => "font-size: 10pt"} *Disclaimer: we are an ASUPS club, not a branch of the university administration.  Peer Allies is not a mandatory reporting group for the university.  However, statistical information is kept for campus climate evaluation.  So, by being a mostly confidential group, we mean that we report no names or identifying information to our Dean of Students Representative, but that we do relay the occurrence of sexual assaults within the student body.
