<div class="jumbotron">
	<div class="container">
		<h1 class="media-heading" style="font-size: 60px; text-align: center">
			Before you continue...
		</h1>
		<ul>
			<br>
			<li><p>Please be aware that the Peer Allies are a nonprofessional service.
				We are a student run group whose primary aim is to provide a support
				system for those in need with peer-to-peer conversation.</p></li>

			<li><p>If you would like to pursue univeristy or other professional services instead
				please visit the <%= link_to 'Crisis Information', information_path %> page, and remember that a peer ally
				will always be more than willing to support and accompany you in this process.</p></li>
		</ul>

		<!-- <div class="container" style="width: 50%; margin: 0 auto;"> -->
			<br>
			<p>If you've read the above, and would still wish to pursue
			contacting one of the Peer Allies on campus, then please
			follow the link below.</p>
			<br>
			<%= link_to email_form_path, :class => 'btn btn-primary btn-lg' do%>
			<%= "Proceed to connect with an Ally"%>
			<% end %>
		<!-- </div> -->
	</div>
</div>
