<body>
  
    <div class="container">
    <div class="media-body">
   	<div class="jumbotron">
      <h1 class="media-heading" style="font-size: 60px; color: #660000; text-align: center">
      	Calendar
      </h1>
      <p style = "text-align: center; font-size">Derp description that says what calendar does derp.</p>
      <!--The Google Calendar that is synced with the Peer Allies Google account
      -->
      </div>
      <iframe style = "margin: 0 auto; display: block;" src="https://www.google.com/calendar/embed?title=Peer%20Allies%20Office%20Hours&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=peerallies.pugetsound%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width: " width="80%" height="600" frameborder="0" scrolling="no"></iframe>
      
    </div>
	</div>
</body>
