<body class = "calendar">	
<br>
<div class="container">
<div class="container" style="width: 50%; margin: 0 auto;">
    <h1>
    	Calendar
    </h1>

	
	<br>
	<p>
		Each of the allies holds an "office hour" in the Gail Day Chapel, located
		on the second floor of Kilworth Chapel (behind the library).  Below, you can see the hours for this week.
	</p>
</div>
    <iframe src="https://www.google.com/calendar/embed?title=Peer%20Allies%20Office%20Hours&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=peerallies.pugetsound%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width: " width="80%" height="600" frameborder="0" scrolling="no"></iframe>

</div>

<br>
<br>
</body>