<head>
  <title>Test</title>
  <link href="styles/main.css" rel="stylesheet" type="text/css"></link>
</head>
<!-- Latest compiled and minified CSS
-->
<!--    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
-->
<!-- Optional theme
-->
<!--      %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css", :rel => "stylesheet"}
-->
<body>
  <div class="jumbotron">
    <div class="container">
      <h1 style="color: #660000">University of Puget Sound Peer Allies</h1>
      <p>We are a support network of students that hold weekly "office hours" to provide an opportunity for survivors of sexual violence or harassment who may have felt powerless to talk, be heard, and be believed, as well as provide information to survivors in a safe space about other resources both on and off campus.</p>
    </div>

    <!-- Button to connect with an ally -->
    <a href= "crisis_info" class="btn btn-block btn-lg btn-primary">
    	
    	Connect with an Ally
    </a>

  </div>
</body>
<!-- Latest compiled and minified JavaScript
-->
<!-- %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
-->
