<!-- <img src="http://40.media.tumblr.com/32b5c6e678b7ee34e4ec0db117b40485/tumblr_mjf1zwvukh1r75ojlo1_1280.jpg" alt="First slide"> -->
<div class="container">
          

      <h1>University of Puget Sound Peer Allies</h1>
      <h3>We are a support network of students that hold weekly "office hours" to provide an opportunity for survivors of sexual violence or harassment who may have felt powerless to talk, be heard, and be believed, as well as provide information to survivors in a safe space about other resources both on and off campus.</h3>
    <br>
	<br>
	<br>
	<h4>Each of the allies currently holds an office hour every week.  If, however, you would like to set up a meeting with an ally that doesn't fall within one of the available office hours, please click on the button below.  It will take you to a form you can use to specify when you can meet, and if you have any preferences as to which ally you would like to meet.</h4>
	
	<%= link_to crisis_info_path, class: 'btn btn-block btn-lg btn-primary' do%>
	<%= "Connect with an Ally"%>
	<% end %>
	
	<br>
	<br>
	
	<h4>If you would like to look at the weekly calendar to see which allies are available during official office hours, please click below.</h4>
	
	<%= link_to calendar_path, class: 'btn btn-block btn-lg btn-primary' do%>
	<%= "View the Allies' Calendar"%>
	<% end %>
	
	
	
	
	
<!--      <br>
      <br>
      <br>

     -->  <!-- <h1>Sample Allies</h1>
      <br> -->
<!-- This is a placeholder. Have to get the code from ally_list, implement it correctly in here. -->
      <!-- <div class="row">
        <div class="col-lg-6">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><! /.col-lg-4 -->
        <!-- <div class="col-lg-6">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      <!-- </div><!-- /.row -->

<!-- Maybe something else after this? -->

      <br>
      <br>

    <!-- Joshua's working email button -->
    
</div>
