<<<<<<< HEAD
%div.jumbotron
	%h1 Crisis Information
	%div{:style => "width: 75%; margin: 0 auto;"}
	%h2 If you are raped or sexually assaulted:
	%ol{:style => 'font-size: 16pt'}
		%li{:style => 'font-weight: bold'} Go Somewhere Safe
		%ul
			%li If you feel in danger, call Security Services at 253.879.3311 (campus) or local police at 911 (off campus).
			%li Seek emotional support from friends, trusted staff or faculty, or one of the resources listed in this brochure.
			%li A harassment officer can help you initiate alternative campus housing and/or academic arrangements if needed.
		%li{:style => 'font-weight: bold'} Get Medical Attention Immediately
		%ul
			%li You may take a friend or advocate with you to the hospital.
			%li Trained advocates are available 24 hours a day from the Crisis Line of Rebuilding Hope: The Sexual Assault Center of Pierce County (253.424.RAPE).
			%li Not all injuries are immediately evident, so seek medical attention.  Do not change clothes, bathe, shower, or douche before going to the hospital.  Do not do anything to change the scene of the attack/violation.  Doing so may destroy important medical evidence.  If you have changed clothes, bring your soiled clothing with you for evidence collection.  Forensic evidence may be collected up to 72 hours after an assault.
			%li Counseling, Health, and Wellness Services (CHWS) on campus is not able to conduct examinations in order to collect evidence necessary for criminal or civil action against an assailant.  For such an exam, victims shold visit a hospital emergency room.
			%li Even if you don't plan to pursue legal action, it is still ilmportant to assess and treat any injuries and determine the possibility of pregnancy or sexually transmitted infections.
			%br
			%li{:style => 'font-weight: bold'} To set up an appointment on campus:
			%p{:style => 'font-weight: bold'}
				Counseling, Health, and Wellness Services
			%p
				Wheelock Student Center 216
			%p
				253.879.1555	
			%li{:style => 'font-weight: bold'}
				The recommended hospital in the vicinity is:
			%p{:style => 'font-weight: bold'}
				Tacoma General Hospital Emergency Room
			%p
				315 South K St.
			%p
				253.403.7537
				
		%li{:style => 'font-weight: bold'} Seek Support
		%ul
			%li Whether or not you choose to report the rape or harassment, you should consider seeking support or counseling.  Even if you think you can handle this yourself, counseling can provide additional support in a confidential setting.
			%li Consultations with staff from the Rebuilding Hope: The Sexual ASsault Center of Pierce County, CHWS, or the chaplain are confidential and will not initiate an official report or investigation without your permission.
			%p{:style => 'font-weight: bold'}
				If you have questions or doubts about your readiness to make an offiical report, you may want to discuss an incident with one of these confidential resources first.
			%li Resident assistants and resident directors also may be good resources if you need someone to talk to.  They have training and resources to help you get started.  Your conversation with them cannot be completetly confidential, however, as they have an obligation to report to their supervisors if they learn an assault has happened.
			%br
			%li{:style => 'font-weight: bold'} Counseling, Health, and Wellness Services
			%p
				Wheelock Student Center 216, 253.879.1555
			%li{:style => 'font-weight: bold'} University Chaplain
			%p
				Wheelock Student Center 203, 253.879.3374
			%li{:style => 'font-weight: bold'} The Sexual Assault Center of Pierce County
			%p
				253.879.6424
		%li{:style => 'font-weight: bold'} Report the Assault
		%ul
			%li It is your decision whether to report a rape to the police or university sexual harassment officers, but you are encouraged to do so.
			%li The universityw ill make every possible effort to avoid unnecessarily revealing a victim's identity during the course of any investigation that may result from a reported assault.
=======
<body class = "information">
%br
	%h1 Crisis Information
	%div{:style => "width: 75%; margin: 0 auto;"}

</body>
>>>>>>> 7622873fe32e6213d8f1e2718492247857e05149
