<!doctype html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

    <!-- <a href="option.html" class="btn-group-justified btn-danger btn-lg" role="button">Alert Peer Allies: Connect to the next available Ally</a>
    <a href="option.html" class="btn-group-justified btn-danger btn-lg" role="button">View hours to set up appointment</a> -->


    <div class="btn-group btn-group-justified">

      <div class="btn-group">
        <a href="ally_list">
          <button type="button" class="btn btn-default">Alert Peer Allies: Connect to the next available Ally</button>
        </a>
      </div>

      <div class="btn-group">
        <a href="calendar">
          <button type="button" class="btn btn-default">View hours to set up appointment</button>
        </a>
      </div>

    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>