<body>
  <div class="container">
    <div class="media">
      <a class="pull-left" href="ally">
        <img class="media-object img-circle" src="<%= @peer_ally.avatar.url(:thumb) %>" style="width: 140px"/>
        <!--/ %img.media-object.img-circle{:alt => "Name",:src => @peer_ally.avatar.url(:thumb) , :style => "width: 200px"}
        -->
      </a>
      <div class="media-body">
        <!-- There's probably a cleaner way to write the breaks so that name is centered horizontally with img
        -->
        <br>
          <br>
            <br>
              <h1 class="media-heading" style="font-size: 60px">
                <%= #{@peer_ally.name} %>
              </h1>
              <br>
                <br>
                  <br>
                    <h2>About Me</h2>
                    <p>
                      <%= @peer_ally.bio %>
                    </p>
                    <br>
                      <h2>Grade</h2>
                      <ul>
                        <li>
                          <%= @peer_ally.grade %>
                        </li>
                      </ul>
                    </br>
                  </br>
                </br>
              </br>
            </br>
          </br>
        </br>
      </div>
    </div>
  </div>
</body>