/*@import "bootstrap-sprockets";*/
@import "bootstrap";


body {
	background-color: black;
}

h1 {
	color: #600000;
	text-align: center;
}

iframe {
	margin: 0 auto; 
	display: block;
}

hr {
	border-style: inset; 
	border-width:1px;
}

img {
	width: 100px;
}

/* Styling when menu item is selected*/
body.index li.index, 
body.ally_list li.ally_list, 
body.calendar li.calendar, 
body.information li.information, 
body.about li.about {
	background:blue;
	text-decoration: underline;
}

/*Adjust Menu text color, (Garamond) font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	display:inline;
	color:#600000;                        
	font-family:Arial;
	font-size:1.5em;
	padding:5px 20px; 
}


/* Color when mouse hovers */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
	color:darkgrey;                      
	text-shadow:none;
}

.content {
	position: absolute;
}

.li {
	padding-top:15px
}

.login {
	padding-right: 14px;
	font-size: .5em;
}


