@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #E0E0E0;
}

h1 {
	color: #600000;
	text-align: center;
}

// h2 {
// 	text-align: center;
// }

iframe {
	margin: 0 auto; 
	display: block;
}

hr {
	// display:block; 
	// margin-top: 2em; 
	// margin-bottom: 2em; 
	// margin-left: auto; 
	// margin-right: auto; 
	border-style: inset; 
	border-width:1px;
}

.login {
	padding-right: 27px;
}

/* Styling when menu item is selected*/
body.index li.index, 
body.ally_list li.ally_list, 
body.calendar li.calendar, 
body.information li.information, 
body.about li.about {
color: black;
text-decoration: underline;
background: yellow;
}

/*Adjust Menu text color, (Garamond) font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
display:        inline;
color:          #600000;                        
font-family:    Garamond;
font-size:      1.5em;
padding:        5px 20px; 
}


/* Color when mouse hovers */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          darkgrey;                      
text-shadow:    none;
}






