/*@import "bootstrap-sprockets";*/
@import "bootstrap";


body {
	background-color: white;
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

h1 {
	color: #3498db;
	text-align: center;
}

iframe {
	margin: 0 auto; 
	display: block;
}

hr {
	border-style: inset; 
	border-width:1px;
}

img {
	width: 100px;
}

/* Styling when menu item is selected*/
body.index li.index, 
body.ally_list li.ally_list, 
body.calendar li.calendar, 
body.information li.information, 
body.about li.about {
	text-decoration: underline;
}

/*Adjust Menu text color, font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	display:inline;                        
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size:1.5em;
	padding:5px 20px; 
	color: #3498db;

}


/* Color when mouse hovers */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
	color: darkgrey;                      
	text-shadow:none;
}

.content {
	position: absolute;
}

.li {
	padding-top:15px
}

.title {
	color: black;
	text-align: center;
	font-size: 100px;
}

.btn2 {
  color: #ffffff;
  font-size: 30px;
  background: #3498db;
  padding: 40px 22px 40px 22px;
  text-decoration: none;
  text-align: center;
}

.btn2:hover {
  background: #2b7fb3;
  text-decoration: none;
}

.btn3 {
  color: #ffffff;
  border-radius: 5px;
  font-size: 25px;
  background: #3498db;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  text-align: center;
}

.btn3:hover {
  background: #2b7fb3;
  text-decoration: none;
}

.center {
	text-align: center;
}




